<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="dependencyInjector">
            <section
              name="dependencyConfiguration"
              type="DependencyLocation.Configuration.DependencyConfiguration, DependencyLocator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
              allowLocation="true"
              allowDefinition="Everywhere"
      />
        </sectionGroup>
    </configSections>

    <dependencyInjector>
        <dependencyConfiguration defaultKey="default">
            <dependencies>
              <add assemblyName="Game.Core.Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" namedInstancePrefix="" />
              <add assemblyName="Game.Logic.Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" namedInstancePrefix="" />
              <add assemblyName="Game.Presentation.Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" namedInstancePrefix="" />
            </dependencies>
        </dependencyConfiguration>
    </dependencyInjector>
</configuration>